/AU ETF NDQ 20250320 Intraday 5Sec Market Maker.xlsb
/AU ETF NDQ 20250320 Intraday 5Sec.csv
/FX AUD USD 20250319-20 Intraday 5Sec.csv
/US ETFs Nasdaq 100 20250320 EOD 1Yr.csv
/US ETFs Nasdaq 100 20250320 EOD 1Yr.xlsb
/US Future NQ 20250319 Intraday 5Sec.csv